In [18]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from numpy import *

In [19]:
data=pd.read_csv(r'https://archive.ics.uci.edu/ml/machine-learning-databases/forest-fires/forestfires.csv')
data.head(10)

   X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain  area
0  7  5   mar  fri  86.2   26.2   94.3   5.1   8.2  51   6.7   0.0   0.0
1  7  4   oct  tue  90.6   35.4  669.1   6.7  18.0  33   0.9   0.0   0.0
2  7  4   oct  sat  90.6   43.7  686.9   6.7  14.6  33   1.3   0.0   0.0
3  8  6   mar  fri  91.7   33.3   77.5   9.0   8.3  97   4.0   0.2   0.0
4  8  6   mar  sun  89.3   51.3  102.2   9.6  11.4  99   1.8   0.0   0.0
5  8  6   aug  sun  92.3   85.3  488.0  14.7  22.2  29   5.4   0.0   0.0
6  8  6   aug  mon  92.3   88.9  495.6   8.5  24.1  27   3.1   0.0   0.0
7  8  6   aug  mon  91.5  145.4  608.2  10.7   8.0  86   2.2   0.0   0.0
8  8  6   sep  tue  91.0  129.5  692.6   7.0  13.1  63   5.4   0.0   0.0
9  7  5   sep  sat  92.5   88.0  698.6   7.1  22.8  40   4.0   0.0   0.0

In [20]:
df=pd.DataFrame(data,columns=['ISI','wind'])
df

      ISI  wind
0     5.1   6.7
1     6.7   0.9
2     6.7   1.3
3     9.0   4.0
4     9.6   1.8
..    ...   ...
512   1.9   2.7
513   1.9   5.8
514   1.9   6.7
515  11.3   4.0
516   1.1   4.5

[517 rows x 2 columns]

In [21]:
i=0
x=[]
for col in data:
    x.append(col)
    i+=1
print(i)
print(x)
i=0

13
['X', 'Y', 'month', 'day', 'FFMC', 'DMC', 'DC', 'ISI', 'temp', 'RH', 'wind', 'rain', 'area']

In [28]:
#arr=np.array([])
#arr=data
#print(arr,'\nlen = ',len(data))

In [33]:
R=2#len(x)
C=R
matrix = [] 
print("Enter the entries rowwise:") 
  
# For user input 
for i in range(R):          # A for loop for row entries 
    a =[] 
    for j in range(C):      # A for loop for column entries 
         a.append(int(input())) 
    matrix.append(a) 
  
# For printing the matrix 
print('[')
for i in range(R): 
    for j in range(C): 
        print(matrix[i][j], end = " ") 
    print() 
print(']')

Enter the entries rowwise:
1
2
3
4
[
1 2
3 4
]

In [36]:
df=pd.DataFrame(data,columns=['ISI'])
df
xi=np.sum(df)/len(df)
print(xi)

ISI    9.021663
dtype: float64